@import url('https://fonts.googleapis.com/css?family=Srisakdi');

body{
    background-color: black;
    margin: 0;
    font-family: 'Srisakdi', cursive;
}
.container{
    background-color: whitesmoke;
    width: 100%;
    display: table;
    position: fixed;
}
.name{
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: lighter;
    text-transform: none;
    margin-top: 2rem;
    margin-right: 2rem;
    float: right;
}
.name a{
    color: black;
    text-decoration: none;
}
.navbar{
    float: left;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar li{
    list-style-type: none;
    display: inline;
    margin-left: 2rem;
    letter-spacing: 5px;
    margin-right: 2rem;
}