@import url('https://fonts.googleapis.com/css?family=Anton');

body{
    background-color: black;
    font-family: 'Anton', sans-serif;
}
.container{
    background-color: whitesmoke;
    display: flex;
    
}

.name{
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: heavier;
    text-transform: none;
    margin-top: 2rem;
    margin-right: 20rem;
    float: center;
 }
 .name a{
    color: black;
    text-decoration: none;
 }
 .full-navbar{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline;
    list-style-type: none;
    letter-spacing: 4px;
    margin-right: 5rem;
 }
 
 

.h1,
h2{
  margin: 0;
  padding: 1em 0;
}

.p {
  margin: 0;
  padding: 1em 0;
}

#section-d .box {
    padding: 2em;
    color: #fff;
  }
  
  #section-d .box:first-child {
    background: #000000;
  }


